* {
	font-family: 'Karla', sans-serif;
	margin: 0 auto;
	box-sizing: border-box;
}

body {
	width: 100%;
}

::selection {
	background: #A2FAA3;
	color: #fff;
}

::-moz-selection {
	background: #A2FAA3;
	color: #fff;
}

/*

* {
	border: 1px solid red;
}

*/

.container {
	width: 600px;
}

.top {
	width: 100%;
}

.nav {
	width: 100%;
	color: #000;
	font-size: 0.933em;
	line-height: 20px;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

.nav ul {
	list-style-type: none;
}

.nav li {
	display: inline;
	padding-right: 15px;
	letter-spacing: 0px;
}

/* about */

.headline {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 20px 30px 20px 30px;
	font-size: 0.8em;
}

.description {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: left;
}

.headline .description .name {
	font-size: 2.5em;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	padding-bottom: 3px;
}

.headline .description .self {
	padding: 13px 1px 13px 1px;
	margin-top: 13px;
	border: 1px solid #ccc;
	border-left: 0px;
	border-right: 0px;
	line-height: 20px;
}

/*experience*/

.experience {
	text-align: left;
	line-height: 20px;
}

.company {
	background-color: #eceef2;
	margin: 10px 0;
	padding: 5px 3px;
}

/* work */

.story {
	display: flex;
	flex-flow: row nowrap;
	padding: 13px 1px 0px 1px;
}

.story img {
	width: 90%;
	border-radius: 3px;
	opacity: 0.6;
}

.story img:hover {
	opacity: 1;
}

.story .image {
	width: 20%;
	text-align: left;
}

.story .cap {
	width: 80%;
	text-align: left;
	line-height: 20px;
}

#more {
	text-align: left;
	padding-top: 13px;
}

.story a {
	text-decoration: none;
	color: #000;
	background-color: #A2FAA3;
	margin-top: 5px;
}

.story a:hover {
	text-decoration: none;
	background-color: #fff;
}